// COLORS
$dark-green: #2e3831;
$green: #6a8a72;
$orange: #eb8258;
$light-orange: #ffb17a;
$white: #eefcee;

// FONTS
// @font-face {
//     font-family: 'Roboto';
//     src: local('Roboto'), url(./Fonts/Roboto/Roboto-Medium.ttf) format('truetype');
// }

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

// MIXINS

@mixin btn($color) {
    border-radius: 5px;
    border: 1px solid $color;
    background-color: $color;
    color: $dark-grey;
}